<p style="color: green"><%= notice %></p>

<%= render @hello %>

<div>
  <%= link_to "Edit this hello", edit_hello_path(@hello) %> |
  <%= link_to "Back to hellos", hellos_path %>

  <%= button_to "Destroy this hello", @hello, method: :delete %>
</div>
